$lemon-color: rgba(239, 255, 165, 1);
$blue-color: rgba(165, 206, 255, 1);

.lemonButton {
  background-color: $lemon-color;
  color: black;
  text-align: center;
  flex-shrink: 0;
  border: none;
  border-radius: 30px;
  padding: 24px 46px;
}

.blueButton {
  background-color: $blue-color;
  color: black;
  text-align: center;
  flex-shrink: 0;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.shadowBox {
  background-color: rgba(255, 255, 255, 1);
  margin: 2rem auto;
  padding: 2rem;

  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}