$lemon-color: rgba(239, 255, 165, 1);
$blue-color: rgba(165, 206, 255, 1);

.lemonButton {
  background-color: $lemon-color;
  color: black;
  text-align: center;
  flex-shrink: 0;
  border: none;
  border-radius: 30px;
  padding: 24px 46px;
}

.blueButton {
  background-color: $blue-color;
  color: black;
  text-align: center;
  flex-shrink: 0;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

