$white-color: rgba(255, 255, 255, 1);

.navigation {
  background-color: $white-color;
  text-align: center;
}

.navigationRight {
  display: flex;
  flex-direction: row;
}

.navigationLogo {

}

.navigationLink {
  margin-left: 1rem;
}